/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: white;
    background-color: #3c413b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* Thanh điều khiển bên trái */
.left {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    min-height: 680px;
    background-color: #10100f;
    z-index: 10;
}
#search-bar {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-left div {
    margin-top: 15px;
    margin-bottom: 15px;
}
ul {
    list-style: none;
    width: 100%;
}
.ul-left li {
   margin-top: 8px;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
}
.ul-left a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.ul-left li:hover {
    border-left: 10px solid #777777;
    background-color: #999999;
}
.appicon {
    display: flex;
    position: absolute;
    bottom: 100px;
    gap: 150px;
}
.install-left {
    display: flex;
    position: absolute;
    bottom: 100px;
}

/* Thanh điều khiển giữa */
.head-link {
    position: relative;
    height: 100%;
    float: right;
}
#menu {
    height: 30px;
    padding-right: 15%;
    padding-top: 5%;
    margin: 0;
    justify-content: center;
    }
#menu ul, #menu li { padding:0; margin:0; }
#menu li {
    position: relative;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    }
#menu li a {
    width: 200px;
    margin-left: 10px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #777777;
    }
#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
    }
#menu li a:hover { 
    border-bottom: 3px solid green;
    color: white;
}
#head-content {
    justify-content: center;
    text-align: center;
}
/* Nội dung  */
.grid-body {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 5px;
    width: 100%;
    justify-content: space-around;
  }
  
  .grid-body > div {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
/* Phần chân */
.footer {
    text-align: center;
    width: 100%;
    position: fixed;
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #555555;
    z-index: 999;
    font-size: 25px;
    opacity: 0.9;
}
@media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .head-link {
        width: 100%;
    }
    .left {
        display: none;
    }
    .grid-body {
        grid-template-columns: auto auto;
    }
    #menu {
        width: 90%;
    }
}